* text=auto !eol
/Makefile -text
dist/VASL.mod -text
dist/VASL.sh -text
dist/Vengine.mf -text
dist/launch.xml -text
dist/macosx/Info.plist -text
dist/macosx/JavaApplicationStub -text
dist/macosx/PkgInfo -text
dist/moduleData/buildFile -text
dist/moduleData/images/DD/BRTPalmDebris.gif -text
dist/moduleData/images/DD/BRTbreach.gif -text
dist/moduleData/images/DD/BarB1.gif -text
dist/moduleData/images/DD/BarB2.gif -text
dist/moduleData/images/DD/BarB2a.gif -text
dist/moduleData/images/DD/BarB3.gif -text
dist/moduleData/images/DD/BarB4.gif -text
dist/moduleData/images/DD/BarB4a.gif -text
dist/moduleData/images/DD/BarB5.gif -text
dist/moduleData/images/DD/BarB6.gif -text
dist/moduleData/images/DD/BarB6a.gif -text
dist/moduleData/images/DD/BarG1.gif -text
dist/moduleData/images/DD/BarG2.gif -text
dist/moduleData/images/DD/BarG2a.gif -text
dist/moduleData/images/DD/BarG3.gif -text
dist/moduleData/images/DD/BarG4.gif -text
dist/moduleData/images/DD/BarG4a.gif -text
dist/moduleData/images/DD/BarG5.gif -text
dist/moduleData/images/DD/BarG6.gif -text
dist/moduleData/images/DD/BarG6a.gif -text
dist/moduleData/images/DD/BarR1.gif -text
dist/moduleData/images/DD/BarR2.gif -text
dist/moduleData/images/DD/BarR2a.gif -text
dist/moduleData/images/DD/BarR3.gif -text
dist/moduleData/images/DD/BarR4.gif -text
dist/moduleData/images/DD/BarR4a.gif -text
dist/moduleData/images/DD/BarR5.gif -text
dist/moduleData/images/DD/BarR6.gif -text
dist/moduleData/images/DD/BarR6a.gif -text
dist/moduleData/images/DD/BarSM1.gif -text
dist/moduleData/images/DD/BarSM2.gif -text
dist/moduleData/images/DD/BarSM2a.gif -text
dist/moduleData/images/DD/BarSM3.gif -text
dist/moduleData/images/DD/BarSM4.gif -text
dist/moduleData/images/DD/BarSM4a.gif -text
dist/moduleData/images/DD/BarSM5.gif -text
dist/moduleData/images/DD/BarSM6.gif -text
dist/moduleData/images/DD/BarSM6a.gif -text
dist/moduleData/images/DD/BarSMd1.gif -text
dist/moduleData/images/DD/BarSMd2.gif -text
dist/moduleData/images/DD/BarSMd2a.gif -text
dist/moduleData/images/DD/BarSMd3.gif -text
dist/moduleData/images/DD/BarSMd4.gif -text
dist/moduleData/images/DD/BarSMd4a.gif -text
dist/moduleData/images/DD/BarSMd5.gif -text
dist/moduleData/images/DD/BarSMd6.gif -text
dist/moduleData/images/DD/BarSMd6a.gif -text
dist/moduleData/images/DD/BarWP1.gif -text
dist/moduleData/images/DD/BarWP2.gif -text
dist/moduleData/images/DD/BarWP2a.gif -text
dist/moduleData/images/DD/BarWP3.gif -text
dist/moduleData/images/DD/BarWP4.gif -text
dist/moduleData/images/DD/BarWP4a.gif -text
dist/moduleData/images/DD/BarWP5.gif -text
dist/moduleData/images/DD/BarWP6.gif -text
dist/moduleData/images/DD/BarWP6a.gif -text
dist/moduleData/images/DD/BarWPd1.gif -text
dist/moduleData/images/DD/BarWPd2.gif -text
dist/moduleData/images/DD/BarWPd2a.gif -text
dist/moduleData/images/DD/BarWPd3.gif -text
dist/moduleData/images/DD/BarWPd4.gif -text
dist/moduleData/images/DD/BarWPd4a.gif -text
dist/moduleData/images/DD/BarWPd5.gif -text
dist/moduleData/images/DD/BarWPd6.gif -text
dist/moduleData/images/DD/BarWPd6a.gif -text
dist/moduleData/images/DD/BreachStone.gif -text
dist/moduleData/images/DD/BreachWood.gif -text
dist/moduleData/images/DD/BridgeCStDirt.gif -text
dist/moduleData/images/DD/BridgeCStDirtL.gif -text
dist/moduleData/images/DD/BridgeCStPaved.gif -text
dist/moduleData/images/DD/BridgeCStPavedL.gif -text
dist/moduleData/images/DD/BridgeCWdDirt.gif -text
dist/moduleData/images/DD/BridgeCWdDirtL.gif -text
dist/moduleData/images/DD/BridgeCWdPaved.gif -text
dist/moduleData/images/DD/BridgeCWdPavedL.gif -text
dist/moduleData/images/DD/BridgeFoot.gif -text
dist/moduleData/images/DD/BridgePont.gif -text
dist/moduleData/images/DD/BridgeStDirt.gif -text
dist/moduleData/images/DD/BridgeStDirtL.gif -text
dist/moduleData/images/DD/BridgeStPaved.gif -text
dist/moduleData/images/DD/BridgeStPavedL.gif -text
dist/moduleData/images/DD/BridgeWdDirt.gif -text
dist/moduleData/images/DD/BridgeWdDirtL.gif -text
dist/moduleData/images/DD/BridgeWdPaved.gif -text
dist/moduleData/images/DD/BridgeWdPavedL.gif -text
dist/moduleData/images/DD/ControlAmer.gif -text
dist/moduleData/images/DD/ControlBrit.gif -text
dist/moduleData/images/DD/ControlChin.gif -text
dist/moduleData/images/DD/ControlFinn.gif -text
dist/moduleData/images/DD/ControlFren.gif -text
dist/moduleData/images/DD/ControlGerm.gif -text
dist/moduleData/images/DD/ControlIJN.gif -text
dist/moduleData/images/DD/ControlItal.gif -text
dist/moduleData/images/DD/ControlJapa.gif -text
dist/moduleData/images/DD/ControlLehr.gif -text
dist/moduleData/images/DD/ControlPole.gif -text
dist/moduleData/images/DD/ControlRHLI.gif -text
dist/moduleData/images/DD/ControlRuss.gif -text
dist/moduleData/images/DD/ControlUSMC.gif -text
dist/moduleData/images/DD/ControlVChex.gif -text
dist/moduleData/images/DD/Crag.gif -text
dist/moduleData/images/DD/DriftO1.gif -text
dist/moduleData/images/DD/DriftO2.gif -text
dist/moduleData/images/DD/DriftO3.gif -text
dist/moduleData/images/DD/DriftO4.gif -text
dist/moduleData/images/DD/DriftO5.gif -text
dist/moduleData/images/DD/DriftO6.gif -text
dist/moduleData/images/DD/FFEB.gif -text
dist/moduleData/images/DD/FFEBhar.gif -text
dist/moduleData/images/DD/FFEG.gif -text
dist/moduleData/images/DD/FFEGhar.gif -text
dist/moduleData/images/DD/FFEN1.gif -text
dist/moduleData/images/DD/FFEN2.gif -text
dist/moduleData/images/DD/FFEN3.gif -text
dist/moduleData/images/DD/FFEN4.gif -text
dist/moduleData/images/DD/FFEN5.gif -text
dist/moduleData/images/DD/FFEN6.gif -text
dist/moduleData/images/DD/FFER.gif -text
dist/moduleData/images/DD/FFERhar.gif -text
dist/moduleData/images/DD/FFESM.gif -text
dist/moduleData/images/DD/FFESMd.gif -text
dist/moduleData/images/DD/FFEWP.gif -text
dist/moduleData/images/DD/FFEWPN1.gif -text
dist/moduleData/images/DD/FFEWPN2.gif -text
dist/moduleData/images/DD/FFEWPN3.gif -text
dist/moduleData/images/DD/FFEWPN4.gif -text
dist/moduleData/images/DD/FFEWPN5.gif -text
dist/moduleData/images/DD/FFEWPN6.gif -text
dist/moduleData/images/DD/FFEWPNd1.gif -text
dist/moduleData/images/DD/FFEWPNd2.gif -text
dist/moduleData/images/DD/FFEWPNd3.gif -text
dist/moduleData/images/DD/FFEWPNd4.gif -text
dist/moduleData/images/DD/FFEWPNd5.gif -text
dist/moduleData/images/DD/FFEWPNd6.gif -text
dist/moduleData/images/DD/FFEWPd.gif -text
dist/moduleData/images/DD/FFEmark-.gif -text
dist/moduleData/images/DD/FFEmark1.gif -text
dist/moduleData/images/DD/FFEmark2.gif -text
dist/moduleData/images/DD/FFEmarkC.gif -text
dist/moduleData/images/DD/FFEmarkN-.gif -text
dist/moduleData/images/DD/FFEmarkN1.gif -text
dist/moduleData/images/DD/FFEmarkN2.gif -text
dist/moduleData/images/DD/FFEmarkNC.gif -text
dist/moduleData/images/DD/FLov14.gif -text
dist/moduleData/images/DD/FLov24.gif -text
dist/moduleData/images/DD/FLov24a.gif -text
dist/moduleData/images/DD/FLov25.gif -text
dist/moduleData/images/DD/FLov35.gif -text
dist/moduleData/images/DD/FLov35a.gif -text
dist/moduleData/images/DD/FLov36.gif -text
dist/moduleData/images/DD/FLov46.gif -text
dist/moduleData/images/DD/FLov46a.gif -text
dist/moduleData/images/DD/FLovFP1.gif -text
dist/moduleData/images/DD/FLovFP2.gif -text
dist/moduleData/images/DD/FLovFP4.gif -text
dist/moduleData/images/DD/FLovFP6.gif -text
dist/moduleData/images/DD/Ford.gif -text
dist/moduleData/images/DD/FortBldgL0.gif -text
dist/moduleData/images/DD/FortBldgL0breach.gif -text
dist/moduleData/images/DD/FortBldgL1.gif -text
dist/moduleData/images/DD/FortBldgL2.gif -text
dist/moduleData/images/DD/FortBldgL3.gif -text
dist/moduleData/images/DD/FortBldgLC.gif -text
dist/moduleData/images/DD/Gully.gif -text
dist/moduleData/images/DD/HillockO.gif -text
dist/moduleData/images/DD/HoleInTheIce.gif -text
dist/moduleData/images/DD/IRb.gif -text
dist/moduleData/images/DD/IRg.gif -text
dist/moduleData/images/DD/IRr.gif -text
dist/moduleData/images/DD/LabelMe.gif -text
dist/moduleData/images/DD/NbombLG.gif -text
dist/moduleData/images/DD/NbombLGd.gif -text
dist/moduleData/images/DD/NbombLGs.gif -text
dist/moduleData/images/DD/NbombSM.gif -text
dist/moduleData/images/DD/NbombSMd.gif -text
dist/moduleData/images/DD/NbombSMs.gif -text
dist/moduleData/images/DD/Night1.gif -text
dist/moduleData/images/DD/Night19.gif -text
dist/moduleData/images/DD/Night7.gif -text
dist/moduleData/images/DD/OGL0.gif -text
dist/moduleData/images/DD/OGL0new.gif -text
dist/moduleData/images/DD/OGL1.gif -text
dist/moduleData/images/DD/OGL2.gif -text
dist/moduleData/images/DD/OGL3.gif -text
dist/moduleData/images/DD/OGL4.gif -text
dist/moduleData/images/DD/OGL5.gif -text
dist/moduleData/images/DD/OGL6.gif -text
dist/moduleData/images/DD/OGL_1.gif -text
dist/moduleData/images/DD/OGL_1new.gif -text
dist/moduleData/images/DD/OGL_2.gif -text
dist/moduleData/images/DD/OGdL0.gif -text
dist/moduleData/images/DD/OGdL_1.gif -text
dist/moduleData/images/DD/OGdL_2.gif -text
dist/moduleData/images/DD/OGsL0.gif -text
dist/moduleData/images/DD/OGsL1.gif -text
dist/moduleData/images/DD/OGsL2.gif -text
dist/moduleData/images/DD/OGsL3.gif -text
dist/moduleData/images/DD/OGsL4.gif -text
dist/moduleData/images/DD/OGsL5.gif -text
dist/moduleData/images/DD/OGsL6.gif -text
dist/moduleData/images/DD/OGsL_1.gif -text
dist/moduleData/images/DD/OGsL_2.gif -text
dist/moduleData/images/DD/OOSOrch.gif -text
dist/moduleData/images/DD/Orch.gif -text
dist/moduleData/images/DD/OvrSM.gif -text
dist/moduleData/images/DD/OvrSMd.gif -text
dist/moduleData/images/DD/OvrSMg.gif -text
dist/moduleData/images/DD/OvrWP.gif -text
dist/moduleData/images/DD/OvrWPd.gif -text
dist/moduleData/images/DD/OvrWPg.gif -text
dist/moduleData/images/DD/PalmTrees.gif -text
dist/moduleData/images/DD/Passage.gif -text
dist/moduleData/images/DD/Path.gif -text
dist/moduleData/images/DD/PerimBK.gif -text
dist/moduleData/images/DD/PerimBL.gif -text
dist/moduleData/images/DD/PerimGR.gif -text
dist/moduleData/images/DD/PerimPN.gif -text
dist/moduleData/images/DD/PerimRD.gif -text
dist/moduleData/images/DD/PerimYL.gif -text
dist/moduleData/images/DD/RBrubst.gif -text
dist/moduleData/images/DD/RBrubwd.gif -text
dist/moduleData/images/DD/RBshell.gif -text
dist/moduleData/images/DD/Resid01.gif -text
dist/moduleData/images/DD/Resid02.gif -text
dist/moduleData/images/DD/Resid04.gif -text
dist/moduleData/images/DD/Resid06.gif -text
dist/moduleData/images/DD/Resid08.gif -text
dist/moduleData/images/DD/Resid12.gif -text
dist/moduleData/images/DD/RoadBPave.gif -text
dist/moduleData/images/DD/RoadBPaveS.gif -text
dist/moduleData/images/DD/RoadBUnPa.gif -text
dist/moduleData/images/DD/RoadBUnPaS.gif -text
dist/moduleData/images/DD/RoadCPave.gif -text
dist/moduleData/images/DD/RoadCPaveS.gif -text
dist/moduleData/images/DD/RoadCUnPa.gif -text
dist/moduleData/images/DD/RoadCUnPaS.gif -text
dist/moduleData/images/DD/RoadPave.gif -text
dist/moduleData/images/DD/RoadPaveS.gif -text
dist/moduleData/images/DD/RoadUnPa.gif -text
dist/moduleData/images/DD/RoadUnPaS.gif -text
dist/moduleData/images/DD/Roadblock.gif -text
dist/moduleData/images/DD/RoadblockArrDn.gif -text
dist/moduleData/images/DD/RoadblockArrUp.gif -text
dist/moduleData/images/DD/RoadblockBreach.gif -text
dist/moduleData/images/DD/RoadblockL1.gif -text
dist/moduleData/images/DD/RoadblockL2.gif -text
dist/moduleData/images/DD/RoadblockL3.gif -text
dist/moduleData/images/DD/RoadblockR1.gif -text
dist/moduleData/images/DD/RoadblockR2.gif -text
dist/moduleData/images/DD/RoadblockR3.gif -text
dist/moduleData/images/DD/RubbleStone.gif -text
dist/moduleData/images/DD/RubbleWood.gif -text
dist/moduleData/images/DD/Shellhole.gif -text
dist/moduleData/images/DD/ShellholeChoc.gif -text
dist/moduleData/images/DD/StairDavid.gif -text
dist/moduleData/images/DD/StairRound.gif -text
dist/moduleData/images/DD/StairSquare.gif -text
dist/moduleData/images/DD/StairSteeple.gif -text
dist/moduleData/images/DD/StarB.gif -text
dist/moduleData/images/DD/StarG.gif -text
dist/moduleData/images/DD/StarR.gif -text
dist/moduleData/images/DD/Stream.gif -text
dist/moduleData/images/DD/Track.gif -text
dist/moduleData/images/DD/TrackB.gif -text
dist/moduleData/images/DD/TrackBS.gif -text
dist/moduleData/images/DD/TrackC.gif -text
dist/moduleData/images/DD/TrackCS.gif -text
dist/moduleData/images/DD/TrackS.gif -text
dist/moduleData/images/DD/TrailBreak.gif -text
dist/moduleData/images/DD/VGrubst0.gif -text
dist/moduleData/images/DD/VGrubst1.gif -text
dist/moduleData/images/DD/VGrubwd0.gif -text
dist/moduleData/images/DD/VGrubwd1.gif -text
dist/moduleData/images/DD/VGshell0.gif -text
dist/moduleData/images/DD/VGshell1.gif -text
dist/moduleData/images/DD/Vineland.gif -text
dist/moduleData/images/DD/pBRTbeach.gif -text
dist/moduleData/images/DD/pBRThinter.gif -text
dist/moduleData/images/DD/pBRTocean.gif -text
dist/moduleData/images/DD/pBRTrunway.gif -text
dist/moduleData/images/DD/pBRTtaxiway.gif -text
dist/moduleData/images/DD/pOGL0.gif -text
dist/moduleData/images/DD/pOGL0new.gif -text
dist/moduleData/images/DD/pOGL1.gif -text
dist/moduleData/images/DD/pOGL2.gif -text
dist/moduleData/images/DD/pOGL3.gif -text
dist/moduleData/images/DD/pOGL4.gif -text
dist/moduleData/images/DD/pOGL5.gif -text
dist/moduleData/images/DD/pOGL6.gif -text
dist/moduleData/images/DD/pOGL_1.gif -text
dist/moduleData/images/DD/pOGL_1new.gif -text
dist/moduleData/images/DD/pOGL_2.gif -text
dist/moduleData/images/DD/pOGdL0.gif -text
dist/moduleData/images/DD/pOGdL_1.gif -text
dist/moduleData/images/DD/pOGdL_2.gif -text
dist/moduleData/images/DD/pOGsL0.gif -text
dist/moduleData/images/DD/pOGsL1.gif -text
dist/moduleData/images/DD/pOGsL2.gif -text
dist/moduleData/images/DD/pOGsL3.gif -text
dist/moduleData/images/DD/pOGsL4.gif -text
dist/moduleData/images/DD/pOGsL5.gif -text
dist/moduleData/images/DD/pOGsL6.gif -text
dist/moduleData/images/DD/pOGsL_1.gif -text
dist/moduleData/images/DD/pOGsL_2.gif -text
dist/moduleData/images/am/veh/M5A1.gif -text
dist/moduleData/images/ge/gun/geAA37L8.gif -text
dist/moduleData/images/ja/veh/ty92A.gif -text
dist/moduleData/images/ja/veh/ty92B.gif -text
dist/moduleData/images/overlayD.gif -text
dist/windows/VASL.bat -text
dist/windows/VASL.l4j.xml -text svneol=unset#text/plain
dist/windows/nsis/installer.nsi -text
doc/UsersGuide/02.htm -text svneol=unset#text/plain
doc/UsersGuide/03.htm -text svneol=unset#text/plain
doc/UsersGuide/04.htm -text svneol=unset#text/plain
doc/UsersGuide/05.htm -text svneol=unset#text/plain
doc/UsersGuide/06.htm -text svneol=unset#text/plain
doc/UsersGuide/07.htm -text svneol=unset#text/plain
doc/UsersGuide/08.htm -text svneol=unset#text/plain
doc/UsersGuide/index.htm -text svneol=unset#text/plain
doc/UsersGuide/ug_images/VASLdir.gif -text
doc/UsersGuide/ug_images/add_overlay.gif -text
doc/UsersGuide/ug_images/add_overlay_bd2.gif -text
doc/UsersGuide/ug_images/choose_boards_bd2.gif -text
doc/UsersGuide/ug_images/crop.gif -text
doc/UsersGuide/ug_images/crop_board_2.gif -text
doc/UsersGuide/ug_images/header_bg.jpg -text
doc/UsersGuide/ug_images/heirarchy.gif -text
doc/UsersGuide/ug_images/los.gif -text
doc/UsersGuide/ug_images/map.gif -text
doc/UsersGuide/ug_images/map_features.gif -text
doc/UsersGuide/ug_images/mark_unmoved.gif -text
doc/UsersGuide/ug_images/messages.gif -text
doc/UsersGuide/ug_images/nav_bg.gif -text
doc/UsersGuide/ug_images/oba.gif -text
doc/UsersGuide/ug_images/opening_screen.gif -text
doc/UsersGuide/ug_images/options_temp.gif -text
doc/UsersGuide/ug_images/overview.gif -text
doc/UsersGuide/ug_images/pick_new_boards.gif -text
doc/UsersGuide/ug_images/pref_colors.gif -text
doc/UsersGuide/ug_images/pref_general.gif -text
doc/UsersGuide/ug_images/pref_los.gif -text
doc/UsersGuide/ug_images/pref_personal.gif -text
doc/UsersGuide/ug_images/properties.gif -text
doc/UsersGuide/ug_images/save_gif.gif -text
doc/UsersGuide/ug_images/save_text.gif -text
doc/UsersGuide/ug_images/scenario_info.gif -text
doc/UsersGuide/ug_images/server_new_room.gif -text
doc/UsersGuide/ug_images/server_room.gif -text
doc/UsersGuide/ug_images/shim.gif -text
doc/UsersGuide/ug_images/status_looking.gif -text
doc/UsersGuide/ug_images/terrain_ssr.gif -text
doc/UsersGuide/ug_images/terrain_ssr_bd17.gif -text
doc/UsersGuide/ug_images/terrain_ssr_bd24.gif -text
doc/UsersGuide/ug_images/typical_setup.gif -text
doc/UsersGuide/ug_images/ug_nav_vasl.gif -text
doc/UsersGuide/ug_images/ug_nav_vasl_on.gif -text
doc/UsersGuide/ug_images/ug_pref_general.gif -text
doc/UsersGuide/ug_images/units_ger_veh.gif -text
doc/UsersGuide/ug_images/vASL4_logo.gif -text
doc/UsersGuide/ug_images/vassal.gif -text
doc/UsersGuide/vasl_ug_styles.css -text
lib/AppleJavaExtensions.jar -text
lib/BrowserLauncher2-10.jar -text
lib/CASL.jar -text
lib/Vengine.jar -text
lib/batik-anim.jar -text
lib/batik-awt-util.jar -text
lib/batik-bridge.jar -text
lib/batik-codec.jar -text
lib/batik-css.jar -text
lib/batik-dom.jar -text
lib/batik-ext.jar -text
lib/batik-extension.jar -text
lib/batik-gui-util.jar -text
lib/batik-gvt.jar -text
lib/batik-parser.jar -text
lib/batik-script.jar -text
lib/batik-svg-dom.jar -text
lib/batik-svggen.jar -text
lib/batik-swing.jar -text
lib/batik-transcoder.jar -text
lib/batik-util.jar -text
lib/batik-xml.jar -text
lib/java-getopt-1.0.13.jar -text
lib/js.jar -text
lib/licenses/LICENSE.batik.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.cryptix.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.dom-documentation.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.dom-software.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.java-getopt.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.js.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.pdf-transcoder.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.sax.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.sun-icons.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.swingx.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.tango.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.wizard.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.xalan-2.6.0.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.xerces_2_5_0.txt -text svneol=unset#text/plain
lib/licenses/LICENSE.xml-apis.txt -text svneol=unset#text/plain
lib/licenses/NOTICE.batik.txt -text svneol=unset#text/plain
lib/licenses/README.batik.txt -text svneol=unset#text/plain
lib/licenses/README.js.txt -text svneol=unset#text/plain
lib/licenses/README.pdf-transcoder.txt -text svneol=unset#text/plain
lib/licenses/README.tango.txt -text svneol=unset#text/plain
lib/licenses/README.xalan-2.6.0.txt -text svneol=unset#text/plain
lib/licenses/README.xerces_2_5_0.txt -text svneol=unset#text/plain
lib/licenses/README.xml-apis-ext.txt -text svneol=unset#text/plain
lib/licenses/README.xml-apis.txt -text svneol=unset#text/plain
lib/pdf-transcoder.jar -text
lib/smack.jar -text
lib/smackx-debug.jar -text
lib/smackx.jar -text
lib/swing-layout-1.0.3.jar -text
lib/swing-worker-1.1.jar -text
lib/swingx-0.9.2.jar -text
lib/wizard.jar -text
lib/xalan-2.6.0.jar -text
lib/xerces_2_5_0.jar -text
lib/xml-apis-ext.jar -text
lib/xml-apis.jar -text
src/VASL/build/module/map/CASLThread.java -text
src/VASL/build/module/map/CounterDetailViewer.java -text
