p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; text-align: justify}
h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #666600}
.quote {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 14px; color: #000000}
.quoteSource {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 12px; color: #666666}
.quoteHead {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold; color: #990000}
.copyright {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #999999}
.question {  font-style: italic; color: #666600}
h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold}
ol {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px}
.sidebar {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 14px}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #666600}
ul {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px}
li {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px}
.new {  font-weight: bold; color: #FF0000}
.next {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold}
.parNonJust {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px}
h5 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bolder; color: #666666}
